<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>basic form</h1>

    <form action="http://127.0.0.1:8000/sampleproject/createMemo/" method="post" id="memoForm">
    {% csrf_token %}
        <label for="memo">메모</label>
        <input type="text" name="memoContent" id="memo" size="50" placeholder="text sample" autocomplete="off">
        <button type="submit" form="memoForm">등록</button>
    </form>

    <!-- 리스트뷰 -->
    <div>
        <ul>
            {% for item in lists%}
                <li><b>{{item.id}}.</b> {{item.memo_text}} {{item.published_date|date:'Y-m-d'}}</li>
            {% endfor %}
        </ul>
    </div>

    <form action="http://127.0.0.1:8000/sampleproject/methodMemo/" method="get">
        <button>Get button</button>
    </form>
    <br>
    <form action="http://127.0.0.1:8000/sampleproject/methodMemo/" method="post">
        {% csrf_token %}
        <button>Post button</button>
    </form>

</body>
</html>